*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
}
body{
    min-height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width:90%;
    max-width:470px;
    background: linear-gradient(135deg, #00feba,#5b548a);
    color:#fff;
    margin:80px auto 0;
    border-radius:20px;
    padding:40px 35px;
    text-align:center;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
}
.search{
    width:100%;
    display:flex;
    align-items:center;
    justify-content :space-between;
}
.search input{
    border:0;
    outline:0;
    background:white;
    color:#555;
    padding:10px 25px;
    height:60px;
    border-radius:30px;
    flex:1;
    margin-right:16px;
    font-size:18px;
}
.search button{
    width:60px;
    height:60px;
    border-radius:50%;
    border:0;
    outline:0;
    background:#ebfffc;
    cursor:pointer;
}
.search button img{
    width:20px;
}
.weather-icon{
    width:170px;
    margin-top:30px;
}
.weather h1{
    font-size:80px;
     font-weight:500;
     margin-top:1px;
}
.weather h2{
    font-size:50px;
    font-weight:400;
    margin-top:-1px;
}
.details{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
    margin-top:170px;
}
.col{
    display:flex;
    align-items:center;
    text-align:left;
    gap:5px;
}
.col img{
    width:40px;
    margin-right:0;
}
.humidity{
    font-size:16px;
    margin-top:-1px;
}
.wind{
    font-size:15px;
    margin-top:3px;
}
.weather{
    display:none;
}
.error{
    text-align:left;
    margin-left:10px;
    font-size:14px;
    margin-top:10px;
    display:none;
}